<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead(~{},~{::script})">
    <script  type="text/javascript" th:src="@{/static/js/jquery-1.7.1.min.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/easing.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/js.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/form.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/fun.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script  type="text/javascript" th:src="@{/static/js/slick.js}"></script>
    <script  type="text/javascript"  th:src="@{/static/js/swiper-3.4.2.jquery.min.js}"></script>
</head>
<body>
<div class="header" th:include="/common/header :: commonHeader"></div>
<div class="headerTel" th:include="/common/header :: commonHeaderTel"></div>
<div class="navLayer" th:include="/common/nav :: commonNavLayer"></div>

<!--导航菜单触发结束-->
<div class="pageBanner">
    <div class="imgDiv">
        <img th:src="@{/static/images/backg.jpg}" style="height: 580px;" alt="">
    </div>
</div>
<!---->
<div class="pageBannerTel">
    <div class="imgDiv">
        <img th:src="@{/static/images/backg.jpg}" style="height: 250px;" alt="">
    </div>
    <div class="txtDiv">
        <div class="txt2"><em></em>成功案例</div>
    </div>
</div>
<div class="pageBox4">
    <div class="wal">
        <div class="pageNow"><a th:href="@{/index.html}">首页</a> > <a  th:href="@{/case.html}">成功案例</a> > 案例详情</div>
        <div class="newsBox">
            <div class="newShow">
                <div class="name" th:text="${article.title}"></div>
                <div class="time">
                    <span style="margin-right: 40px" th:text="'日期：'+${article.publishDate}"></span>
                    <span th:text="'来源：'+${article.source}"></span>
                </div>
                <div class="content" th:text="${article.content}"> </div>
                <div class="h10"></div>
            </div>
            <div class="pageDown pageDown2">
                <ul>
                    <li th:if="${article.previous>0}" ><a  th:href="@{/article/}+${article.previous}+'.html'">上一篇：←</a></li>
                    <li><a  th:href="@{/article.html}">返回列表</a></li>
                    <li th:if="${article.next>0}"><a  th:href="@{/article/}+${article.next}+'.html'">下一篇： →</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footDiv" th:include="/common/footer :: commonFooter"></div>
</body>
</html>
