<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead(~{::link},~{})">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/loading.default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/widget/refresh/refresh.default.css}">
</head>
<body>
<div class="header header2" th:include="/common/header :: commonHeader"></div>
<div class="headerTel" th:include="/common/header :: commonHeaderTel"></div>
<div class="navLayer" th:include="/common/nav :: commonNavLayer"></div>

<!--导航菜单触发结束-->
<div class="pageBanner">
    <div class="imgDiv">
        <img th:src="@{/static/images/backg.jpg}" style="height: 580px;" alt="">
    </div>
   <!-- <div class="contentBox">
        <div class="txtDiv fl">
            <div class="txt1">SHOW CASE</div>
            <div class="txt2"><em></em>成功案例</div>
        </div>
    </div>-->
</div>
<!---->
<div class="pageBannerTel">
    <div class="imgDiv">
        <img th:src="@{/static/images/backg.jpg}" style="height: 250px;" alt="">
    </div>
</div>

<div class="caseBox">
    <div class="pageTitle" style="text-align: center">
        <div class="txt1">Gallery</div>
        <div class="txt2">成功案例</div>
    </div>
    <div class="case">
        <div class="list">
            <section id="body">
                <div class="ui-refresh" id="divrefresh">
                    <ul class="data-list">
                        <li th:each="article,stat:${page.records}" th:class="${stat.index==2 || stat.index==5}?'li02':''">
                            <div class="box">
                                <div class="imgDiv">
                                    <img th:if="${article.picture!=null && article.picture!=''}"  th:src="${article.picture}" alt="">
                                    <img th:if="${article.picture ==null && article.picture==''}"  th:src="@{/static/images/case02.jpg}"  alt="">
                                </div>
                                <div class="hideBox" >
                                    <a href="case_detail.html" th:href="@{/case/detail_}+${article.id}+'.html'"  >
                                        <div class="name1" th:text="${article.title}">冠世纪实业</div>
                                        <div class="name2">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                    <div class="pageMore"><a class="ui-refresh-down" th:href="@{/case}">加载更多</a></div>
                </div>
            </section>
        </div>
    </div>
    <div class="pageNum"><a class='aNow'>1</a></div>
</div>


<div class="footDiv" th:include="/common/footer :: commonFooter"></div>

<script  th:src="@{/static/js/zepto.min.js}"></script>
<script  th:src="@{/static/js/zepto.extend.js}"></script>
<script  th:src="@{/static/js/zepto.ui.js}"></script>
<script  th:src="@{/static/js/widget/refresh.js}"></script>
<script  th:src="@{/static/js/widget/refresh.lite.js}"></script>
<script type="text/javascript">
    //加载更多
    var page = 1;
    var hasMore = "true";
    var type = document.getElementById("type").innerText;
    var company = document.getElementById("company").innerText;
    var year = document.getElementById("year").innerText;
    var address = document.getElementById("address").innerText;
    (function () {
        /*组件初始化js begin*/
        $('.ui-refresh').refresh({
            ready: function (dir, type) {
                var me = this;
                page++;
                if (hasMore == "true") {
                    $.getJSON('/ajax/case.aspx?page=' + page + '&type=' + type + '&company=' + company + '&year=' + year + '&address=' + address + '&m=118001', function (data) {
                        var list = $('.data-list'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);

                                    hasMore = this.hasMore;

                                });
                                return liArr.join('');
                            })(data);

                        list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading();
                        if (hasMore == "false") {
                            $(".ui-refresh-down").hide();
                            $(".diva1").hide();
                        }
                    });
                }
            }
        });
        /*组件初始化js end*/
    })();
</script>
</body>
</html>
