<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead(~{::link},~{})">
    <link rel="stylesheet" type="text/css" href="../gmu/css/loading.default.css">
    <link rel="stylesheet" type="text/css" href="../gmu/css/widget/refresh/refresh.default.css">
</head>
<body>


<div class="header header2 ">
    <a href="../index.html" class="logo fl">
        <img src="../images/logo.png" alt=""></a>
    <ul class="list fr">
        <li class=""><a href="../index.html">首页</a>
        <li class="sNavA "><a href="../about/about.html">关于景森</a>
        <li class="sNavA on"><a href="case.html">作品展示</a>
        <li class="sNavA "><a href="../news/news.html">新闻中心</a>
        <li class="sNavA "><a href="../Contact/company.html">联系我们</a>
        </li></ul>
    <div class="clear_f"></div>
</div>
<div class="headerTel headerTel2 ">
    <a href="../index.html" class="logo">
        <img src="../images/logo.png"></a>
    <a href="javascript:;" class="navIco">
        <img src="../images/navIco.png"></a>
</div>


<!--导航菜单触发开始-->
<div class="navLayer">
    <div class="bg">
        <div class="top">
            <a href="../index.html" class="logo">
                <img src="../images/logo3.png"></a>
            <a href="javascript:;" class="closeBtn">
                <img src="../images/close.png"></a>
        </div>
        <div class="sideNav">
            <div class="subNav">
                <div class="name">
                    <a href="../index.html">
                        <div class="txt1">首页</div>
                        <div class="txt2">home</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="../about/about.html">
                        <div class="txt1">关于景森</div>
                        <div class="txt2">about us</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="case.html">
                        <div class="txt1">作品展示</div>
                        <div class="txt2">gallery</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="../news/news.html">
                        <div class="txt1">新闻中心</div>
                        <div class="txt2">News Center</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="../Contact/company.html">
                        <div class="txt1">联系我们</div>
                        <div class="txt2">contact us</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--导航菜单触发结束-->
<div class="caseBox">
    <div class="pageTitle">
        <div class="txt1">Gallery</div>
        <div class="txt2"><em></em>作品展示</div>
    </div>
    <div class="case">
        <div class="list">
            <section id="body">
                <div class="ui-refresh" id="divrefresh">
                    <ul class="data-list">
                        <li>
                            <div class="box">
                                <div class="imgDiv">
                                    <img src="../vancheerfile/images/2018/5/20180529104630522.jpeg" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html">
                                        <div class="name1">恒大海泉湾</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box">
                                <div class="imgDiv">
                                    <img src="../vancheerfile/images/2018/5/20180530022759756.jpeg" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html">
                                        <div class="name1">湘域熙岸</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class="li02">

                            <div class="box">
                                <div class="imgDiv">
                                    <img src="../vancheerfile/images/2018/5/2018052910450866.jpeg" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html">
                                        <div class="name1">万科·金域蓝湾</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>

                            <div class="box">
                                <div class="imgDiv">
                                    <img src="../vancheerfile/images/2018/5/2018052910162616.jpeg" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html">
                                        <div class="name1">万科·云山花园</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>

                            <div class="box">
                                <div class="imgDiv">
                                    <img src="../vancheerfile/images/2018/5/20180531060220912.jpeg" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html">
                                        <div class="name1">广州花卉之都</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class="li02">

                            <div class="box">
                                <div class="imgDiv">
                                    <img src="../vancheerfile/images/2018/5/20180528031543788.jpeg" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html">
                                        <div class="name1">长沙时代倾城</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="clear_f"></div>
                    <div class="pageMore"><a class="ui-refresh-down"></a></div>
                </div>
            </section>
        </div>
    </div>
    <div class="pageNum"><a class='aNow'>1</a></div>
</div>


<div class="footDiv" th:include="/common/footer :: commonFooter">

<script>
    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>

<script src="../gmu/zepto.min.js"></script>
<script src="../gmu/js/zepto.extend.js"></script>
<script src="../gmu/js/zepto.ui.js"></script>
<script src="../gmu/js/widget/refresh.js"></script>
<script src="../gmu/js/widget/refresh.lite.js"></script>
<script type="text/javascript">
    //加载更多
    var page = 1;
    var hasMore = "true";
    var type = document.getElementById("type").innerText;
    var company = document.getElementById("company").innerText;
    var year = document.getElementById("year").innerText;
    var address = document.getElementById("address").innerText;
    (function () {
        /*组件初始化js begin*/
        $('.ui-refresh').refresh({
            ready: function (dir, type) {
                var me = this;
                page++;
                if (hasMore == "true") {
                    $.getJSON('/ajax/case.aspx?page=' + page + '&type=' + type + '&company=' + company + '&year=' + year + '&address=' + address + '&m=118001', function (data) {
                        var list = $('.data-list'),
                            html = (function (data) {      //数据渲染
                                var liArr = [];
                                $.each(data, function () {
                                    liArr.push(this.html);

                                    hasMore = this.hasMore;

                                });
                                return liArr.join('');
                            })(data);

                        list[dir == 'up' ? 'prepend' : 'append'](html);
                        me.afterDataLoading();
                        if (hasMore == "false") {
                            $(".ui-refresh-down").hide();
                            $(".diva1").hide();
                        }
                    });
                }
            }
        });
        /*组件初始化js end*/
    })();
</script>
<script type="text/javascript">

    function search() {
        var type = document.getElementById("type").innerText;
        var company = document.getElementById("company").innerText;
        var year = document.getElementById("year").innerText;
        var address = document.getElementById("address").innerText;

        window.location.href = "/casesearch/case.aspx?m=118001&type=" + type + "&company=" + company + "&year=" + year + "&address=" + address;
    }
</script>
</body>
</html>
