<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common :: commonHead(~{::link},~{::script})">
    <link  th:href="@{/static/css/animate.min.css}" rel="stylesheet" type="text/css">
    <link  th:href="@{/static/css/fade.css}"        rel="stylesheet" type="text/css">
    <link  th:href="@{/static/css/swiper.min.css}"  rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/static/js/swiper-3.4.2.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/slick.js}" ></script>
    <script type="text/javascript" th:src="@{/static/js/swiper.animate1.0.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{/static/js/main.js}" ></script>
</head>
<body>
<div class="header" th:include="/common/header :: commonHeader"></div>
<div class="headerTel" th:include="/common/header :: commonHeaderTel"></div>

<div class="navLayer" th:include="/common/nav :: commonNavLayer"></div>

    <div class="ind-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(../static/images/backg.jpg) 50% 50% no-repeat; background-size: cover;">
                    <a href="javascript:void(0)">
                        
                    </a>
                </div>
                <div class="swiper-slide" style="background: url(../static/images/backg.jpg) 50% 50% no-repeat; background-size: cover;">
                    <a href="javascript:void(0)">
                        
                    </a>
                </div>
                <div class="swiper-slide" style="background: url(../static/images/backg.jpg) 50% 50% no-repeat; background-size: cover;">
                    <a href="javascript:void(0)">
                        
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <script>
            var my = new Swiper('.ind-banner .swiper-container', {
                autoplay: 3500,
                speed: 600,
                pagination: '.ind-banner .swiper-pagination',
                paginationClickable: true,
                autoplayDisableOnInteraction: false,
                loop: true,
                onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
                    swiperAnimateCache(swiper); //隐藏动画元素 
                    swiperAnimate(swiper); //初始化完成开始动画
                },
                onSlideChangeEnd: function (swiper) {
                    swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                }
            });
        </script>
    </div>
    <div class="bannerTel">
        <div class="ind-bannerTel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: url(../static/images/backg.jpg)50% 50% no-repeat; background-size: cover;">
                    </div>
                    <div class="swiper-slide" style="background: url(../static/images/backg.jpg)50% 50% no-repeat; background-size: cover;">
                    </div>
                    <div class="swiper-slide" style="background: url(../static/images/backg.jpg)50% 50% no-repeat; background-size: cover;">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <script>
                var my = new Swiper('.ind-bannerTel .swiper-container', {
                    autoplay: 3500,
                    pagination: '.ind-bannerTel .swiper-pagination',
                    paginationClickable: true,
                    autoplayDisableOnInteraction: false,
                    loop: true
                });
            </script>
        </div>
    </div>
    <div class="indexPart1">
        <div class="indexTitle" >
            <div class="txt1">SHOW CASE</div>
            <div class="txt2">成功案例</div>
            <a class="more" th:href="@{/case.html}">更多</a>
        </div>
    </div>
    <!---->
<div class="indexPart2">
    <div class="case" style="width: 80%; margin: 0 auto;">
        <div class="list">
            <section id="body">
                <div class="ui-refresh" id="divrefresh">
                    <ul class="data-list" th:if="${indexMap.size()>0}">
                        <li  th:each="case,recordStat:${indexMap.case}" th:class="${recordStat.index==2 || recordStat.index==5}?'li02':''">
                            <div class="box" >
                                <div class="imgDiv">
                                    <img th:src="${case.picture}"  alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" th:href="@{/case/}+${case.id}+'.html'">
                                        <div class="name1" th:text="${case.title}">恒大海泉湾</div>
                                        <div class="name2">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                    <div class="pageMore"><a class="ui-refresh-down" href="javascript:void(0)"></a></div>
                </div>
            </section>
        </div>
    </div>
</div>
    <!---->
    <div class="indexPart2Tel" style="padding: 0 10px 0;">
        <ul th:if="${indexMap.size()>0}">
            <li  th:each="case,recordStat:${indexMap.case}">
                <a  th:href="@{/case/}+${case.id}+'.html'">
                    <div class="imgDiv">
                        <img  th:src="${case.picture}"  alt="">
                    </div>
                    <div class="botDiv">
                        <div class="name" th:text="${case.title}"></div>
                        <div class="msg"  th:text="${case.description}"></div>
                        <div class="ico"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!---->
    <div class="indexPart3">
        <div class="indexTitle">
            <div class="txt1">News</div>
            <div class="txt2">新闻资讯</div>
            <a  class="more" th:href="@{/article.html}">更多</a>
        </div>
        <div class="tabContentDiv">
            <div class="tabContent bigBox">
                <div class="leftDiv fl">
                    <div class="detail" >
                        <div class="imgDiv">
                            <a th:href="@{/article/}+${article.id}+'.html'">
                                <img  th:src="${article.picture}"  alt=""></a>
                            <div class="hideBox">
                                <div class="more"><a th:href="@{/article/}+${article.id}+'.html'">更多</a></div>
                            </div>
                        </div>
                        <div class="name"><a th:href="@{/article/}+${article.id}+'.html'" th:text="${article.title}"></a></div>
                        <div class="content"  th:text="${article.description}"><em></em></div>
                    </div>
                </div>

                <div class="rightDiv fr">
                    <div class="list">
                        <ul>
                            <li th:each="article,recordStat:${indexMap.news}" th:class="${recordStat.index==0}?'li01':(${recordStat.index==2}?'ist02':'')">
                                <div class="imgDiv">
                                    <a th:href="@{/article/}+${article.id}+'.html'">
                                        <img  th:src="${article.picture}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a th:href="@{/article/}+${article.id}+'.html'">更多</a></div>
                                    </div>
                                </div>
                                <div class="name"><a th:href="@{/article/}+${article.id}+'.html'" th:text="${article.title}"></a></div>
                                <div class="content"><em></em></div>
                                <div class="time"  th:text="${#temporals.format(article.publishDate, 'yyyy-MM-dd HH:mm')}">2018-08-10</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="footDiv" th:include="/common/footer :: commonFooter">
</div>
</body>
</html>
