<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common :: commonHead(~{::link},~{::script})">
    <link href="style/animate.min.css" th:href="@{/static/css/animate.min.css}"  rel="stylesheet" type="text/css">
    <link href="style/fade.css" th:href="@{/static/css/fade.css}"   rel="stylesheet" type="text/css">
    <link href="style/swiper.min.css" th:href="@{/static/css/swiper.min.css}"  rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" th:src="@{/static/js/swiper-3.4.2.jquery.min.js}" src="script/swiper-3.4.2.jquery.min.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/slick.js}" src="script/slick.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/swiper.animate1.0.2.min.js}" src="script/swiper.animate1.0.2.min.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/main.js}" src="script/main.js"></script>
</head>
<body>
<div class="header" th:include="/common/header :: commonHeader"></div>
<div class="headerTel" th:include="/common/header :: commonHeaderTel"></div>

<div class="navLayer" th:include="/common/nav :: commonNavLayer"></div>

    <div class="ind-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(../static/images/login.jpg) 50% 50% no-repeat; background-size: cover;">
                    <a href="javascript:void(0)">
                        
                    </a>
                </div>
                <div class="swiper-slide" style="background: url(../static/images/login.jpg) 50% 50% no-repeat; background-size: cover;">
                    <a href="javascript:void(0)">
                        
                    </a>
                </div>
                <div class="swiper-slide" style="background: url(../static/images/login.jpg) 50% 50% no-repeat; background-size: cover;">
                    <a href="about/culture.html">
                        
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <script>
            var my = new Swiper('.ind-banner .swiper-container', {
                autoplay: 3500,
                speed: 600,
                pagination: '.ind-banner .swiper-pagination',
                paginationClickable: true,
                autoplayDisableOnInteraction: false,
                loop: true,
                onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
                    swiperAnimateCache(swiper); //隐藏动画元素 
                    swiperAnimate(swiper); //初始化完成开始动画
                },
                onSlideChangeEnd: function (swiper) {
                    swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                }
            });
        </script>
    </div>
    <div class="bannerTel">
        <div class="ind-bannerTel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide" style="background: url(../static/images/login.jpg)50% 50% no-repeat; background-size: cover;">
                    </div>
                    
                    <div class="swiper-slide" style="background: url(../static/images/login.jpg)50% 50% no-repeat; background-size: cover;">
                    </div>
                    
                    <div class="swiper-slide" style="background: url(../static/images/login.jpg)50% 50% no-repeat; background-size: cover;">
                    </div>
                    
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <script>
                var my = new Swiper('.ind-bannerTel .swiper-container', {
                    autoplay: 3500,
                    pagination: '.ind-bannerTel .swiper-pagination',
                    paginationClickable: true,
                    autoplayDisableOnInteraction: false,
                    loop: true
                });
            </script>
        </div>
    </div>
    <div class="indexPart1">
        <div class="indexTitle" >
            <div class="txt1">SHOW CASE</div>
            <div class="txt2">成功案例</div>
            <a href="case/case.html" class="more" th:href="@{/case}">更多</a>
        </div>
    </div>
    <!---->
<div class="indexPart2">
    <div class="case" style="width: 80%; margin: 0 auto;">
        <div class="list">
            <section id="body">
                <div class="ui-refresh" id="divrefresh">
                    <ul class="data-list">
                        <li>
                            <div class="box">
                                <div class="imgDiv">
                                    <img  th:src="@{/static/images/case02.jpg}"  alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" th:href="@{/case/detail}">
                                        <div class="name1">恒大海泉湾</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box">
                                <div class="imgDiv">
                                    <img th:src="@{/static/images/case02.jpg}" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" >
                                        <div class="name1">湘域熙岸</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class="li02">

                            <div class="box">
                                <div class="imgDiv">
                                    <img th:src="@{/static/images/case02.jpg}" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" th:href="@{/case/detail}">
                                        <div class="name1">万科·金域蓝湾</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>

                            <div class="box">
                                <div class="imgDiv">
                                    <img th:src="@{/static/images/case02.jpg}" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" th:href="@{/case/detail}">
                                        <div class="name1">万科·云山花园</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="box">
                                <div class="imgDiv">
                                    <img th:src="@{/static/images/case02.jpg}" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" th:href="@{/case/detail}">
                                        <div class="name1">广州花卉之都</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li class="li02">

                            <div class="box">
                                <div class="imgDiv">
                                    <img th:src="@{/static/images/case02.jpg}" alt="">
                                </div>
                                <div class="hideBox">
                                    <a href="case_detail.html" th:href="@{/case/detail}">
                                        <div class="name1">长沙时代倾城</div>
                                        <div class="name2">

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear_f"></div>
                    <div class="pageMore"><a class="ui-refresh-down"></a></div>
                </div>
            </section>
        </div>
    </div>
</div>
    <!---->
    <div class="indexPart2Tel" style="padding: 0 10px 0;">
        <ul>
            <li>
                <a href="case/case_100000008525675.html" th:href="@{/case/detail}">
                    <div class="imgDiv">
                        <img th:src="@{/static/images/case02.jpg}" alt="">
                    </div>
                    <div class="botDiv">
                        <div class="name">华都汇-湛江华都广场</div>
                        <div class="msg">
                            占地面积：443409.33㎡<br>
                            建筑面积：57000㎡
                        </div>
                        <div class="ico"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="case/case_100000007872556.html"  th:href="@{/case/detail}">
                    <div class="imgDiv">
                        <img th:src="@{/static/images/case02.jpg}" alt="">
                    </div>
                    <div class="botDiv">
                        <div class="name">香格里拉洲际酒店</div>
                        <div class="msg">
                            占地面积：83856.20㎡<br>
                            建筑面积：55000㎡
                        </div>
                        <div class="ico"></div>
                    </div>
                </a>
            </li>
            <li>
                <a href="case/case_100000074774112.html" th:href="@{/case/detail}">
                    <div class="imgDiv">
                        <img th:src="@{/static/images/case02.jpg}" alt="">
                    </div>
                    <div class="botDiv">
                        <div class="name">湘潭九华东方威尼斯</div>
                        <div class="msg">
                            占地面积：32598921㎡<br>
                            建筑面积：266214.89㎡
                        </div>
                        <div class="ico"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!---->
    <div class="indexPart3">
        <div class="indexTitle">
            <div class="txt1">News</div>
            <div class="txt2">新闻资讯</div>
            <a href="case/case.html" class="more" th:href="@{/article}">更多</a>
        </div>
        <div class="tabContentDiv">
            <div class="tabContent bigBox">
                <div class="leftDiv fl">
                    <div class="detail">
                        <div class="imgDiv">
                            <a th:href="@{/article/detail}">
                                <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                            <div class="hideBox">
                                <div class="more"><a th:href="@{/article/detail}">More</a></div>
                            </div>
                        </div>
                        <div class="name"><a th:href="@{/article/detail}">乐活丨激情飞扬 谁“羽”争锋</a></div>
                        <div class="content"><em></em>雨水带走炎炎烈日唯运动不负丝丝凉意9月1日2018年羊城设计联盟“筑和杯”羽毛球公开赛
                        </div>
                    </div>
                </div>
                
                <div class="rightDiv fr">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="imgDiv">
                                    <a th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a th:href="@{/article/detail}">力作 | 景森设计EPC标杆项目闪亮登场庐山西海</a></div>
                                <div class="time">2018-08-10</div>
                            </li>
                            <li>
                                <div class="imgDiv">
                                    <a th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a th:href="@{/article/detail}">前行 | 不忘匠心 燃动盛夏</a></div>
                                <div class="time">2018-08-01</div>
                            </li>
                            <li>
                                <div class="imgDiv">
                                    <a th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a th:href="@{/article/detail}">聚力 | 融新 · 创变 · 筑未来</a></div>
                                <div class="time">2018-08-01</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div class="tabContent bigBox">
                <div class="leftDiv fl">
                    <div class="detail">
                        <div class="imgDiv">
                            <a th:href="@{/article/detail}">
                                <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                            <div class="hideBox">
                                <div class="more"><a th:href="@{/article/detail}">More</a></div>
                            </div>
                        </div>
                        <div class="name"><a th:href="@{/article/detail}">BIM+装配式+EPC,这就是建筑业的未来</a></div>
                        <div class="content"><em></em>BIM技术协同和集成的理念与装配式建筑一体化建造的思路高度融合，特别是在EPC工程总承包管理模式下，基于BIM的装配式建筑信息化应用的作用和优势越显突出……</div>
                    </div>
                </div>
                
                <div class="rightDiv fr">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="imgDiv">
                                    <a th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a th:href="@{/article/detail}">建筑节能设计及改造的主要内容</a></div>
                                <div class="time">2018-05-17</div>
                            </li>
                            <li>
                                <div class="imgDiv">
                                    <a th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a th:href="@{/article/detail}">建筑业的“互联网+”即将来临</a></div>
                                <div class="time">2018-05-17</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
           <!-- <div class="tabContent bigBox">
                <div class="leftDiv fl">
                    <div class="detail">
                        <div class="imgDiv">
                            <a href="news/news2_100000010638473.html" th:href="@{/article/detail}">
                                <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                            <div class="hideBox">
                                <div class="more"><a href="news/news2_100000010638473.html" th:href="@{/article/detail}">More</a></div>
                            </div>
                        </div>
                        <div class="name"><a href="news/news2_100000010638473.html" th:href="@{/article/detail}">佰利庄园</a></div>
                        <div class="content"><em></em>初期的设计思考是基于红线内地形起伏的特征和地块周边的、景观条件等多种客观条件进行分析，在功能布局和空间结构上强调用地内外景观的贯穿，注意台地和平地的各种视线之间的联系，并利用内部局部造景实现公共景观的灵动跳跃渗透，从而使居住的价值得到充分的提升。</div>
                    </div>
                </div>
                <div class="rightDiv fr">
                    <div class="list">
                        <ul>
                            <li>
                                <div class="imgDiv">
                                    <a href="news/news2_100000009944451.html" th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a href="news/news2_100000009944451.html" th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a href="news/news2_100000009944451.html" th:href="@{/article/detail}">中山樱雪蓝悦湾花园</a></div>
                                <div class="time">2018-05-17</div>
                            </li>
                            <li>
                                <div class="imgDiv">
                                    <a href="news/news2_100000009221328.html" th:href="@{/article/detail}">
                                        <img th:src="@{/static/images/case02.jpg}" alt=""></a>
                                    <div class="hideBox">
                                        <div class="more"><a href="news/news2_100000009221328.html" th:href="@{/article/detail}">More</a></div>
                                    </div>
                                </div>
                                <div class="name"><a href="news/news2_100000009221328.html" th:href="@{/article/detail}">信业清远郡城</a></div>
                                <div class="time">2018-05-17</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
   <!-- <div class="indexPart5">
        <div class="box1">
            <div class="rightDivTel ani-view fade-in-right">
                <a href="about/culture.html">
                    <img src="vancheerfile/images/2018/5/2018051711115120.jpeg" alt=""></a>
            </div>
            <div class="leftDiv ani-view fade-in-left fl">
                <div class="contentBox">
                    <div class="indexTitle">
                        <div class="txt1">Culture</div>
                        <div class="txt2">企业文化<em></em></div>
                    </div>
                    <div class="botBox">
                        <div class="ltxt1">
                            建筑艺术与人文思想邂逅<br>用文化开启一段旅程
                        </div>
                        <div class="ltxt2">
                            Start a journey<br>with culture
                        </div>
                        <div class="btnDiv"><a href="about/culture.html">More</a></div>
                    </div>
                </div>
            </div>
            <div class="rightDiv ani-view fade-in-right fr">
                <a href="about/culture.html">
                    <img src="vancheerfile/images/2018/5/20180517111054195.jpeg" alt=""></a>
            </div>
        </div>
        <div class="box2">
            <div class="leftDiv ani-view fade-in-left fl">
                <a href="about/culture.html">
                    <img src="vancheerfile/images/2018/5/20180517110944187.jpeg" alt=""></a>
            </div>
            <div class="rightDiv ani-view fade-in-right fr">
                <div class="contentBox">
                    <div class="indexTitle">
                        <div class="txt1">
                            Social<br>Responsibility
                        </div>
                        <div class="txt2">社会责任<em></em></div>
                    </div>
                    <div class="botBox">
                        <div class="ltxt1">
                            绿色设计，节能减排<br>让现在看得见未来
                        </div>
                        <div class="ltxt2">
                            Let's see the future<br>now
                        </div>
                        <div class="btnDiv"><a href="about/social.html">More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!---->
<div class="footDiv" th:include="/common/footer :: commonFooter">
</div>
</body>
</html>
