<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>管理</title>
        <link rel="stylesheet" href="static/css/element/element.css" th:href="@{/static/css/element/element.css}">
        <link rel="stylesheet" href="static/css/common/style/layout.css" th:href="@{/static/css/common/style/layout.css}">
    </head>
<body class="gray-bg">
    <div id="app" class="app-container calendar-list-container" v-cloak>
        <div class="filter-container" style="padding-bottom: 10px;padding-top: 10px;">
            <el-button class="filter-item" type="primary" v-waves icon="el-icon-search" @click="handleFilter">搜索</el-button>
            <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">添加</el-button>
        </div>

        <el-table :key='tableKey' :data="list" v-loading="listLoading" element-loading-text="给我一点时间" border fit highlight-current-row
                  style="width: 100%">
            <el-table-column align="center" type="index" label="序号" width="65px">
            </el-table-column>
                <el-table-column align="center" label="角色编码">
                    <template slot-scope="scope">
                        <span>{{scope.row.code}}</span>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="角色名称">
                    <template slot-scope="scope">
                        <span>{{scope.row.name}}</span>
                    </template>
                </el-table-column>
            <el-table-column align="center" label="操作" fixed="right" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                    <el-button type="primary" v-if="scope.row.code!=0000" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                    <el-button size="mini" v-if="scope.row.code!=0000" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <div class="pagination-container" style="padding-top: 10px;">
            <el-pagination background  style="text-align: center"
                            @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page="listQuery.pageNum" :page-sizes="[10,20,30, 50]" :page-size="listQuery.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>

        <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
            <el-form :rules="rules" ref="dataForm" :model="entity" label-position="left" label-width="100px" style='width: 400px; margin-left:50px;'>
                    <el-form-item label="角色编码" prop="code">
                        <el-input v-model="entity.code" placeholder="请输入角色编码"></el-input>
                    </el-form-item>
                    <el-form-item label="角色名称" prop="name">
                        <el-input v-model="entity.name" placeholder="请输入角色名称"></el-input>
                    </el-form-item>
                    <el-form-item label="角色授权" prop="title" >
                        <el-tree style="padding: 10px 0 0 20px;" :data="listTree" :highlight-current="true" show-Checkbox
                                 node-key="id" ref="tree" :default-expand-all="true"  :default-expanded-keys="[]" :default-checked-keys="[]" :props="defaultProps">
                        </el-tree>
                    </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer" align="center">
                <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">确认</el-button>
                <el-button v-else type="primary" @click="updateData">确认</el-button>
                <el-button @click="dialogFormVisible = false">取消</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>

    <script src="static/js/common/vue.min.js" th:src="@{/static/js/common/vue.min.js}"></script>
    <script src="static/js/common/element.js" th:src="@{/static/js/common/element.js}"></script>
    <script src="static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="static/js/common/common.js" th:src="@{/static/js/common/common.js}"></script>
<script>

    var app = new Vue({
        el: '#app',
        name: 'rolePage',
        data() {
            return {
                tableKey: 0,
                list: null,
                total: null,
                listLoading: true,
                listQuery: {
                    pageNum: 1,
                    pageSize: 20,
                },
                entity: {//临时变量，用于新增与修改
                    id: undefined,
                    name: '',
                    code: '',
                    menuIds:'',
                    menuList:[],
                },
                dialogFormVisible: false,
                dialogTreeVisible: false,
                listTree:[],  //树结构对象
                dialogStatus: '',
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
                textMap: {
                    update: '编辑',
                    create: '新增'
                },
                rules: {//表单验证
                        code: [{ required: true, message: '角色编码不能为空', trigger: 'change' }],
                        name: [{ required: true, message: '角色名称不能为空', trigger: 'change' }],
                },
            }
        },
        created() {
            this.getList()
            this.getTree()
        },
        methods: {
            getList() {
                this.listLoading = true
                var _this = this;
                $.ajax({
                    method: 'GET',
                    url: 'listData',
                    data: _this.listQuery,
                    success: function (data) {
                        if(data.code==200){
                            _this.list = data.data.records;
                            _this.total = data.data.total;
                            _this.listLoading = false
                        }else{
                            window.dataErrorHandler(data)
                        }
                    }
                });
            },
            getTree:function() {
                var _this = this
                $.ajax({
                    method: 'GET',
                    url: '[[@{/sys/menu/getAuthMenuTree}]]',
                    success: function (data) {
                        if (data.code == 200) {
                            _this.listTree = data.data;
                        }else{
                            window.dataErrorHandler(data)
                        }
                    }
                });
            },
            handleFilter() {
                this.listQuery.pageNum = 1
                this.getList()
            },
            handleSizeChange(val) {
                this.listQuery.pageSize = val
                this.getList()
            },
            handleCurrentChange(val) {
                this.listQuery.pageNum = val
                this.getList()
            },
            resetentity() {//重置临时数据
                this.entity = {
                    id: undefined,
                    name: '',
                    code: '',
                    menuIds:'',
                }
            },
            handleCreate() {//点击新增
                const _this = this;
                $.ajax({
                    method: 'GET',
                    url: 'checkPermission',
                    success: function (data) {
                        if(data.code==200){
                            _this.resetentity()
                            _this.dialogStatus = 'create'
                            _this.dialogFormVisible = true
                            _this.$nextTick(() => {
                                _this.$refs['dataForm'].clearValidate()
                            })
                        }else{
                            window.dataErrorHandler(data)
                        }
                    }
                });
            },
            handleUpdate(row) {//点击修改
                const _this = this;
                $.ajax({
                    method: 'GET',
                    url: 'get/'+row.id,
                    success: function (data) {
                        if(data.code==200){
                            _this.entity = Object.assign({}, data.data) // copy obj
                            _this.dialogStatus = 'update'
                            _this.dialogFormVisible = true
                            _this.$nextTick(function() {
                                _this.$refs['dataForm'].clearValidate()
                                if (_this.entity.menuIds != null) {
                                    _this.$refs.tree.setCheckedKeys(_this.entity.menuIds.split(","));
                                } else {
                                    _this.$refs.tree.setCheckedKeys([]);
                                }
                            })
                        }else{
                            window.dataErrorHandler(data)
                        }
                    }
                });
            },
            handleDelete(row) {//点击删除
                const _this = this;
                this.$confirm('确认提交吗？', '提示', {}).then(() => {
                        $.ajax({
                            method: 'POST',
                            url: 'remove/'+row.id,
                            success: function (data) {
                                if(data.code==200){
                                    _this.$message({
                                        showClose: true,
                                        message: '删除成功',
                                        type: 'success'
                                    })
                                    _this.dialogFormVisible = false
                                    _this.getList();
                                }else{
                                    window.dataErrorHandler(data)
                                }
                        }
                        });
                });
            },
            createData() {
                const _this = this;
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        this.$confirm('确认提交吗？', '提示', {}).then(() => {
                            _this.selectNode();
                            console.log(this.entity)
                            $.ajax({
                                method: 'POST',
                                url: 'save',
                                data: _this.entity,
                                success: function (data) {
                                    if(data.code==200){
                                        _this.$message({
                                            showClose: true,
                                            message: '添加成功',
                                            type: 'success'
                                        })
                                        _this.dialogFormVisible = false
                                        _this.getList();
                                    } else {
                                        window.dataErrorHandler(data)
                                    }
                                }
                            });
                        })
                    }
                })
            },
            updateData() {
                const _this = this;
                _this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        _this.$confirm('确认提交吗？', '提示', {}).then(() => {
                            _this.selectNode();
                            console.log(this.entity)
                            $.ajax({
                                method: 'POST',
                                url: 'update',
                                data: _this.entity,
                                success: function (data) {
                                    if(data.code==200){
                                        _this.$message({
                                            showClose: true,
                                            message: '更新成功',
                                            type: 'success'
                                        })
                                        _this.dialogFormVisible = false
                                        _this.getList();
                                    } else {
                                        window.dataErrorHandler(data)
                                    }
                                }
                            });
                        })
                    }
                })
            },
            selectNode(){
                var menuIds;
                if(this.$refs.tree.getHalfCheckedKeys()!=''){
                    menuIds =this.$refs.tree.getCheckedKeys()+","+this.$refs.tree.getHalfCheckedKeys(); //选中的半节点id和选中的节点id
                }else{
                    menuIds =this.$refs.tree.getCheckedKeys()+"";
                }
                var ids =this.$refs.tree.getCheckedKeys()+"";   //选中的节点id
                this.entity.menuIds = ids;
                this.entity.menuList = menuIds;
                return;
            },
            resetChecked() {
                if(this.$refs.tree){
                    this.$refs.tree.setCheckedKeys([]);
                }
            },
        }
    })
</script>

</html>
