<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: commonHead(~{},~{::script})">
    <script  type="text/javascript" th:src="@{/static/js/jquery-1.7.1.min.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/easing.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/js.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/form.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/fun.js}" ></script>
    <script  type="text/javascript" th:src="@{/static/js/jquery.SuperSlide.2.1.1.js}"></script>
</head>

<body>
<div class="header" th:include="/common/header :: commonHeader"></div>
<div class="headerTel" th:include="/common/header :: commonHeaderTel"></div>
<div class="navLayer" th:include="/common/nav :: commonNavLayer"></div>
<!--导航菜单触发结束-->
<div class="pageBanner">
    <div class="imgDiv">
        <img th:src="@{/static/images/backg.jpg}" style="height: 580px;" alt="">
    </div>
    <div class="contentBox">
        <!--<div class="txtDiv fl">
            <div class="txt1">About Us</div>
            <div class="txt2"><em></em>关于我们</div>
        </div>
        <div class="pageNav fr">
            <div class="list">
                <ul>
                    <li><a href="index.html" class="aNow">公司介绍</a></li>
                    <li><a href="history.html">发展历程</a></li>
                    <li><a href="vision.html">合作伙伴</a></li>
                    <li><a href="culture.html">企业文化</a></li>
                </ul>
            </div>
        </div>-->
    </div>
</div>
<!---->
<div class="pageBannerTel">
    <div class="imgDiv">
        <img th:src="@{/static/images/backg.jpg}" style="height: 250px;" alt="">
    </div>
</div>
<!---->
<!--<div class="pageTitleTel">
    <div class="sideTitleTel">
        &lt;!&ndash;<div class="con"><a href="javascript:;" class="tan">公司介绍</a></div>
        <div class="sideTitleNav">
            <div class="box">
                <ul>
                    <li><a href="index.html">公司介绍</a></li>
                    <li><a href="history.html">发展历程</a></li>
                    <li><a href="partner.html">合作伙伴</a></li>
                    <li><a href="distribution.html">企业文化</a></li>
                </ul>
            </div>
        </div>&ndash;&gt;
    </div>
</div>-->
<!---->
<div class="pageBox">
    <div class="wal">
        <div class="pageTitle" style="text-align: center">
            <div class="txt1">Group  introduction</div>
            <div class="txt2">公司介绍</div>
        </div>
        <div class="about">

            <div class="content fl">
                深圳市冠世纪实业有限公司是于2014年成立的股份制民营钢材营销企业。经过近两年持续快速地发展，公司整体规模不断圹展壮大，已拥有一支团结协作，勇于开创的高素质员工团队，负责企业的各个关键环节，有效地保障了企业的高效运行。
                <br>
                <br>
                为提高管理水平促进&ldquo;企业发展&ldquo;并与国际质量管理体系标准接轨，建立了科学的组织管理体系下设采购部，销售部，财务部，行政部等部门。建立健全财务制度，订货制度，质量检验制度，奖惩奖励制度和售后服务制度等各项制度，并且在经营活动中严格执行，从而保证了运行通畅效率高成本低，同时公司十分注重财务的稳定性不断提高经营管理力，严格执行款到发货，按合同履行等制度，最大限度地防范财务风险。
                <br>
                <br>
                深圳市冠世纪实业有限公司拥有一定的经济实力，市场发展潜力巨大，为进一步完善销售网络平台，公司经过不断的摸索，自立创新了一套以批发零售为主体，以工程投标为辅辅助的销售管理体系并于建立了配送程序，使得公司在采，运，销储等各个环节紧密衔接，保证钢材能够及时供应，实现了智能一体化的销售平台增强了企业的竞争力，并且与中建，城建中铁等大型国有企业建立了长期的供货关系，在经营活动中公司秉承以客为尊，以心待人，至亲至诚，厚德待物的经营理念赢得了广大经销商的一致认同与赞誉。
            </div>


            <div class="clear_f"></div>
        </div>
    </div>
</div>

<div class="footDiv" th:include="/common/footer :: commonFooter">
</div>
</body>
</html>
