<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(links,scripts)">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="Keywords" content="深圳市冠世纪实业有限公司">
    <meta name="Description" content="深圳市冠世纪实业有限公司">
    <title>深圳市冠世纪实业有限公司</title>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}">
    <link  th:href="@{/static/css/main.css}" rel="stylesheet" type="text/css">
    <link  th:href="@{/static/css/index.css}"  rel="stylesheet" type="text/css">
    <link  th:href="@{/static/css/media.css}"  rel="stylesheet" type="text/css">
    <link  th:href="@{/static/css/slick.css}"  rel="stylesheet" type="text/css">
    <!--/* Per-page placeholder for additional css */-->
    <th:block th:replace="${links}" />

    <!--/* Per-page placeholder for additional js */-->
    <th:block th:replace="${scripts}" />
</head>
</html>