<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(links,scripts)">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <meta name="Keywords" content="冠世纪实业有限公司">
    <meta name="Description" content="冠世纪实业有限公司">
    <title>深圳市冠世纪实业有限公司</title>
    <link href="style/main.css"  th:href="@{/static/css/main.css}" rel="stylesheet" type="text/css">
    <link href="style/index.css" th:href="@{/static/css/index.css}"  rel="stylesheet" type="text/css">
    <link href="style/media.css" th:href="@{/static/css/media.css}"  rel="stylesheet" type="text/css">
    <link href="style/slick.css" th:href="@{/static/css/slick.css}"  rel="stylesheet" type="text/css">
    <!--/* Per-page placeholder for additional js */-->
    <th:block th:replace="${links}" />
    <script language="javascript" type="text/javascript" th:src="@{/static/js/jquery-1.7.1.min.js}" src="script/jquery-1.7.1.min.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/easing.js}" src="script/easing.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/js.js}" src="script/js.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/form.js}" src="script/form.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/fun.js}" src="script/fun.js"></script>
    <script language="javascript" type="text/javascript" th:src="@{/static/js/jquery.SuperSlide.2.1.1.js}" src="script/jquery.SuperSlide.2.1.1.js"></script>
    <!--/* Per-page placeholder for additional js */-->
    <th:block th:replace="${scripts}" />
</head>
</html>