<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footDiv"  th:fragment="commonFooter">
    <div class="logoDiv fl">
        <a href="index.html">
            <img src="images/logo2.png" th:src="@{/static/images/logo2.png}" alt=""></a>
    </div>
    <div class="leftDiv fl">
        <div class="titleDiv">
            <div class="title1">联系我们</div>
            <div class="title2"><em></em>Contact us</div>
        </div>
        <div class="msgList">
            <ul>
                <li>
                    <img   th:src="@{/static/images/nimg16_3.png}" alt="">
                    +86(20) -6661 1999</li>
                <li>
                    <img  th:src="@{/static/images/nimg16_4.png}"alt="">
                    广州市天河区燕岭路133号苏荷独立艺术园自编1区</li>
            </ul>
        </div>
        <div class="btnDiv"><a href="Contact/company.html">contact</a></div>
        <div class="msg">
            Copyright © 景森设计  2018<br>
            All Rights Reserved<br>
            <a href="javascript:void(0)" target="_blank">Powered by MAIN </a>
        </div>
    </div>
    <div class="midDiv fl">
        <div class="titleDiv">
            <div class="title1">社交分享</div>
            <div class="title2"><em></em>Social sharing</div>
        </div>
        <div class="ewmDiv">
            <img src="vancheerfile/images/2018/5/20180517113816668.jpeg" alt="">
        </div>
        <div class="share">
            <ul>
                <li><a href="javascript:sqq();">
                    <img src="images/nimg15_1.png" th:src="@{/static/images/nimg15_1.png}" alt=""><img th:src="@{/static/images/nimg15_1on.png}" class="img1" alt=""></a></li>
                <li><a href="javascript:weixin();">
                    <img src="images/nimg15_2.png" th:src="@{/static/images/nimg15_2.png}" alt=""><img  th:src="@{/static/images/nimg15_2on.png}" class="img1" alt=""></a></li>
                <li><a href="javascript:tsina();">
                    <img src="images/nimg15_3.png" th:src="@{/static/images/nimg15_3.png}"  alt=""><img  th:src="@{/static/images/nimg15_2on.png}" class="img1" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="rightDiv fr">
        <div class="titleDiv">
            <div class="title1">网站地图</div>
            <div class="title2"><em></em>National layout</div>
        </div>
        <div class="footNav">
            <ul>

                <li>
                    <dl>
                        <dd><a href="#" target="_blank">关于我们</a></dd>

                        <dd><a href="" target="_blank">发展历程</a></dd>

                        <dd><a href="" target="_blank">企业文化</a></dd>

                        <dd><a href="" target="_blank">合作伙伴</a></dd>

                        <dd><a href="" target="_blank">业务分布</a></dd>

                    </dl>
                </li>

                <li>
                    <dl>
                        <dd><a href="" target="_blank">成功案例</a></dd>

                        <dd><a href="" target="_blank">公司资讯</a></dd>

                        <dd><a href="" target="_blank">行业动态</a></dd>

                        <dd><a href="" target="_blank">最新项目</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>