<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footDiv"  th:fragment="commonFooter">
    <div class="logoDiv fl">
        <a href="index.html">
            <img src="images/logo2.png" th:src="@{/static/images/logo2.png}" alt=""></a>
    </div>
    <div class="leftDiv fl">
        <div class="titleDiv">
            <div class="title1">联系我们</div>
            <div class="title2"><em></em>Contact us</div>
        </div>
        <div class="msgList">
            <ul>
                <li>
                    <img   th:src="@{/static/images/nimg16_3.png}" alt="">
                    +86(20) -6661 1999</li>
                <li>
                    <img  th:src="@{/static/images/nimg16_4.png}"alt="">
                    广州市天河区燕岭路133号苏荷独立艺术园自编1区</li>
            </ul>
        </div>
    </div>
    <div class="rightDiv fr">
        <div class="titleDiv">
            <div class="title1">快捷入口</div>
            <div class="title2"><em></em>National layout</div>
        </div>
        <div class="footNav">
            <ul>

                <li>
                    <dl>
                        <dd><a href="#" target="_blank">关于我们</a></dd>
                        <dd><a href="" target="_blank">成功案例</a></dd>
                        <dd><a href="" target="_blank">联系我们</a></dd>
                    </dl>
                </li>

                <li>
                    <dl>

                        <dd><a href="" target="_blank">公司新闻</a></dd>

                        <dd><a href="" target="_blank">行业新闻</a></dd>

                        <dd><a href="" target="_blank">媒体报道</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>