<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="commonHeader">
    <a href="index.html" class="logo fl">
        <img src="images/logo3.png" th:src="@{/static/images/logo3.png}" style="width: 200px;height: 60px;" alt=""></a>
    <ul class="list fr">
        <li class="on"><a th:href="@{/index}">首页</a>
        <li class="sNavA "><a th:href="@{/about}">关于我们</a>
        <li class="sNavA "><a th:href="@{/case}">成功案例</a>
        <li class="sNavA "><a th:href="@{/article}">新闻资讯</a>
        <li class="sNavA "><a th:href="@{/contact}">联系我们</a>
        </li></ul>
    <div class="clear_f"></div>
</div>

<div class="headerTel" th:fragment="commonHeaderTel">
    <a href="index.html" class="logo">
        <img  th:src="@{/static/images/logo2.png}"></a>
    <a href="javascript:;" class="navIco">
        <img th:src="@{/static/images/navIco.png}"></a>
</div>
</html>