<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="navLayer"  th:fragment="commonNavLayer">
    <div class="bg">
        <div class="top">
            <a href="index.html" class="logo">
                <img  th:src="@{/static/images/logo3.png}"></a>
            <a href="javascript:;" class="closeBtn">
                <img  th:src="@{/static/images/close.png}"></a>
        </div>
        <div class="sideNav">
            <div class="subNav">
                <div class="name">
                    <a href="index.html" th:href="@{/index.html}">
                        <div class="txt1">首页</div>
                        <div class="txt2">home</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="about/about.html" th:href="@{/about.html}">
                        <div class="txt1">关于我们</div>
                        <div class="txt2">about us</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="case/case.html" th:href="@{/case.html}">
                        <div class="txt1">成功案例</div>
                        <div class="txt2">show case</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="news/news.html" th:href="@{/article.html}">
                        <div class="txt1">新闻资讯</div>
                        <div class="txt2">News</div>
                    </a>
                </div>
            </div>
            <div class="subNav">
                <div class="name">
                    <a href="Contact/company.html" th:href="@{/contact.html}">
                        <div class="txt1">联系我们</div>
                        <div class="txt2">contact us</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>