<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>权限错误页面</title>
        <link rel="stylesheet" href="static/css/element/element.css" th:href="@{/static/css/element/element.css}">
        <link rel="stylesheet" href="static/css/common/style/layout.css" th:href="@{/static/css/common/style/layout.css}">
    </head>
<body>
无权限-------------------》
</body>
</html>
